.modal{
    width: 50%;
    border-radius: 50px;
    // margin-left: 200px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    background: linear-gradient(#eceff1, #9da6f1);

    .backlog-section{
        margin-right: 200px;
    }

    .form {
        flex-direction: column;
        width: 60%;
       margin: 25px 60px;
  
       

        .title{
            width: 450px;
            margin-bottom: 25px;

        }

        .items-desc{

            .description{
                width: 450px;
    


        }
        
        }

        .items-comment{
            margin-top: 20px;

            
        .comment{
            width: 450px;
            height: 50px;

        }

        }

    

    }

    .updateBtn{
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 5px;
        background: rgb(109, 168, 216);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        border: none;
        margin-left: 180px;
        margin-bottom: 5px;
        margin-top: 10px;

    }



}